* {
  margin: 0;
  padding: 0; }

body {
  background-color: #111;
  font-family: Futura, Helvetica, Arial, sans-serif; }

#three {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#content {
  width: 75%;
  margin: 0 auto;
  background-color: #fff; }
  #content h1 {
    text-align: center;
    font-size: 3.1rem;
    padding: 0.5%; }
  #content h3 {
    text-align: center;
    padding: 0.5%; }
  #content #image {
    position: relative;
    width: 600px;
    height: 500px;
    margin: 5% auto; }
    #content #image .customImg {
      position: absolute;
      top: 0px;
      left: 50px; }

/*************BUTTON STYLES*************/
.arrow {
  position: absolute;
  width: 30px;
  height: 22px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; }

.arrow-left {
  left: 0px;
  background-image: url("../img/create-image/button/arrow_left.png");
  transition: background-image 0.3s; }
  .arrow-left:hover {
    background-image: url("../img/create-image/button/arrow_left_hover.png");
    transition: background-image 0.3s; }

.arrow-right {
  right: 0px;
  background-image: url("../img/create-image/button/arrow_right.png");
  transition: background-image 0.3s; }
  .arrow-right:hover {
    background-image: url("../img/create-image/button/arrow_right_hover.png");
    transition: background-image 0.3s; }

#bgLeft {
  top: 239px; }

#bgRight {
  top: 239px; }

#characterLeft {
  top: 415px; }

#characterRight {
  top: 415px; }

#textLeft {
  top: 83px; }

#textRight {
  top: 83px; }

/*************LABEL STYLES*************/
.label {
  position: absolute;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  width: 500px;
  padding: 10px 0;
  opacity: 1.0;
  transition: opacity 0.5s; }
  .label h3 {
    text-align: center; }

.label-hidden {
  position: absolute;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  width: 500px;
  padding: 10px 0;
  opacity: 0.0;
  transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .label-hidden h3 {
    text-align: center; }

#bgLabel {
  top: 239px;
  z-index: 99999;
  /*we need this because of drawing order*/ }

#characterLabel {
  top: 415px; }

#textLabel {
  top: 83px; }

/*************SAVE BUTTON*************/
#save {
  margin: 5%; }
  #save a {
    display: block;
    width: 22%;
    margin: 1% auto;
    padding: 2%;
    text-decoration: none;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
    transition: background-color 0.3s; }
    #save a:hover {
      background-color: #666;
      transition: background-color 0.3s; }
  #save .facebook {
    opacity: 1.0; }
  #save .facebook-hidden {
    opacity: 0.0; }

/*************USER FEED*************/
#img-feed h1 {
  font-size: 2.5rem;
  text-align: center; }
#img-feed .user-img {
  width: 49%;
  padding: 0.5%; }

/*************MISC*************/
footer {
  position: fixed;
  display: block;
  bottom: 1%;
  left: 30%;
  width: 40%;
  margin: 0 auto;
  text-align: center; }
  footer p {
    font-size: 0.9rem;
    color: #444; }
  footer a {
    text-decoration: none;
    color: #666;
    transition: color 0.4s; }
    footer a:hover {
      color: #888;
      transition: color 0.4s; }

#loading {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 45%;
  color: #eee;
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal; }

.loader {
  opacity: 1.0;
  transition: opacity 0.7s; }

.loader-hidden {
  opacity: 0.0;
  transition: opacity 1.0s; }
