* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Fairview';
  src: url("font/Fairview_Regular.otf"); }

@font-face {
  font-family: 'Tangerine';
  src: url("font/Tangerine_Regular.ttf"); }

body {
  width: 100%;
  height: 100%; }

h1, h3 {
  font-family: 'Fairview', Futura, Helvetica, Arial, sans-serif; }

h2 {
  font-family: 'Tangerine', Georgia, serif; }

.scrollbutton {
  display: block;
  position: absolute;
  left: 46%;
  bottom: 3%;
  width: 90px;
  height: 51px;
  background: url("../img/scrollbutton_large.png") center center no-repeat; }

.button {
  width: 16.3%;
  height: 28%;
  background: url("../img/button_large.png") center center no-repeat;
  display: inline-block;
  opacity: 0.8; }
  .button:active {
    background: url("../img/button_pressed_large.png") center center no-repeat; }

.slide {
  width: 100%;
  height: 100%;
  position: relative; }

#slide1 {
  background: url("../img/title_large.jpg") center top; }
  #slide1 h1 {
    font-size: 23.0em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 13%; }
  #slide1 h2 {
    font-size: 5.0em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: -3%; }

#slide2 {
  background: url("../img/quote_large.jpg") center top; }
  #slide2 h2, #slide2 h3 {
    color: rgba(255, 255, 255, 0.8); }
  #slide2 h2 {
    font-size: 4.5em;
    text-align: center;
    padding-top: 20%; }
  #slide2 h3 {
    font-size: 2.0em;
    text-align: center;
    padding-left: 20%; }

#slide3 {
  background: url("../img/soundboard_large.jpg") center top; }
  #slide3 article {
    width: 75%;
    height: 75%;
    margin: 3% auto 0 auto; }
  #slide3 h1, #slide3 h2 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center; }
  #slide3 h1 {
    font-size: 5.0em;
    padding-top: 4.0%; }
  #slide3 h2 {
    font-size: 2.0em;
    font-weight: normal;
    margin-top: -0.3%; }
