* { margin: 0; padding: 0; }

body {
	background-color: #078570;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#main {
	width: 70%;
	margin: 0 auto;
	background-color: #eee;
}

a:link, a:visited {
	color: #045447;
	text-decoration: none;
}

a:hover {
	color: #078570;
}

#add-messages{
	padding: 2%;
	width: 60%;

	h1 {
		color: #045447;
		font-size: 1.6rem;
		padding-bottom: 0.5%;
		margin-bottom: 1%;
		border-bottom: 1px solid #078570;
		width: 52%;
	}

	p {
		font-size: 0.9rem;
	}

	h4 {
		padding: 1% 0;
	}
}

form {
	margin-top: 2%;

	h3 {
		display: inline;
		margin-right: 1%;
		font-size: 1.0rem;
		color: #045447;
	}

	input {
		margin-right: 2%;
	}
}

#submit {
	background: #045447;
	border: none;
	padding: 0.5% 0.8%;
	color: #eee;
	border-radius: 2px;
	transition: background 0.5s;

	&:hover {
		background: #078570;
		transition: background 0.5s;
	}
}

h2 {
	padding: 0 2%;
	font-size: 1.4rem;
}

table {
	width: 100%;
	padding: 1% 2%;

	tr:hover {
		background-color: #f5f5f5;
	}

	th {
		padding: 1%;
		text-align: left;
		border-bottom: #078570 2px solid;
		font-size: 1.1rem;
	}

	td {
		font-size: 0.9rem;
		padding: 1%;
		text-align: left;
		border-bottom: #aaa 1px solid;
	}
}

#alert {
	display: block;
	width: 80%;
	margin: 2% auto;
	text-align: center;
	clear: both;
	font-size: 0.8rem;
	font-weight: normal;
	color: red;
}

#main-table {
	width: 50%;
	float: left;
}

#common-codes-table {
	width: 50%;
	margin-left: 50%;
}

#common-numbers-table {
	width: 50%;
	margin-left: 50%;
}

footer {
	clear: both;
	font-size: 0.7em;
	padding: 10px;
	text-align: center;
}