* { margin: 0; padding: 0; }

body {
	background-color: #078570;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#main {
	width: 70%;
	margin: 0 auto;
	background-color: #eee;
}

form {
	padding: 5%;
}

#submit {
	display: block;
	margin: 1% 0;
}

table {
	width: 100%;
	padding: 2%;

	tr:hover {
		background-color: #f5f5f5;
	}

	th {
		padding: 1%;
		text-align: left;
		border-bottom: #078570 2px solid;
		font-size: 1.2rem;
	}

	td {
		padding: 1%;
		text-align: left;
		border-bottom: #aaa 1px solid;
	}
}